h2 {
  color: whitesmoke;
  background-color: #2ecc71;
  padding-left: 14px;
}
.add-bills {
  color: whitesmoke;
  margin-left: 14px;
  background-color: #2980b9;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
