<h2><i class="fas fa-list-ul"></i> List Export Bills</h2>
<div class="add-bills" (click)="onAddNew()">
  <h3><span class="fas fa-plus"></span> Add</h3>
</div>
<div class="contain" *ngFor="let bill of exportBills">
  <div class="customer-header">
    <h2>{{'Bill ' + bill.id + ' of '+ getFullName(bill.customerId)}} <p (click)="onDelete(bill.id, bill.customerId, bill.products)" class="far fa-trash-alt"></p></h2>
  </div>
  <div class="customer-body">
    <input type="text" placeholder="Date" disabled value="{{'Date: ' + bill.date}}">
    <input type="text" disabled *ngFor="let product of bill.products" value="{{product.id + ': ' + product.name+ ' -$'+ product.price + ' ( '+ product.quantity+ ' item )'}}">
  </div>
</div>
<div class="contain" *ngIf="isBillAdd">
  <input type="text" placeholder="Bill number" [(ngModel)]="billId">
  <input type="text" placeholder="Date" [(ngModel)]="billDate">
  <input type="text" placeholder="for who ?" [(ngModel)]="customerId" (keydown.enter)="checkCustomer()">
  <input type="text" placeholder="Number of product type" [disabled]="isDone" [(ngModel)]="productLen" (keydown.enter)="createProducts()">
  <div *ngFor="let product of products">
    <input type="text" placeholder="Product Id" [(ngModel)]="product.id" (keydown.enter)="checkProductExist(product.id)">
    <input type="text" placeholder="Product Name" [(ngModel)]="product.name">
    <input type="text" placeholder="Quantity" [(ngModel)]="product.quantity">
    <input type="text" placeholder="Product Price" [(ngModel)]="product.price">
  </div>
  <div class="footer">
    <input type="submit" (click)="onSave()" value="Create">
  </div>
</div>
<div class="contain" *ngIf="isCustomerAdd">
  <input type="text" placeholder="Customer Id" [(ngModel)]="customerId">
  <input type="text" placeholder="First Name" [(ngModel)]="emptyCustomer.firstName">
  <input type="text" placeholder="Last Name" [(ngModel)]="emptyCustomer.lastName">
  <input type="text" placeholder="Gender" [(ngModel)]="emptyCustomer.gender">
  <input type="text" placeholder="Birthday" [(ngModel)]="emptyCustomer.birthDay">
  <input type="text" placeholder="Address" [(ngModel)]="emptyCustomer.address">
  <input type="text" placeholder="Phone Number" [(ngModel)]="emptyCustomer.phoneNo">
  <div class="footer">
    <input type="submit" (click)="addNewCustomer()" value="Add">
  </div>
</div>
