.home-page-wrapper {
  nav a {
    color: whitesmoke;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 0;
    margin-top: 10px;
    display: inline-block;
    background-color: #1abc9c;
    border-radius: 4px;
    width: 451px;
    height: 120px;
    font-size: 90px;
  }
  nav a:hover {
    color: #2980b9;
    background-color: #16a085;
    cursor: pointer;
  }
}
.general-info {
  margin-left: 50px;
  color: whitesmoke;
}
